{% load i18n static %}<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8">   
    <link href="/static/css/bootstrap.css" rel="stylesheet">   
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/custom.js"></script>
</head>
<body>
    <nav class="navbar navbar-default " >
        <div class="container" >
            <div class="navbar-header">
                <a class="navbar-brand" href="#">AOM</a>
            </div>
            <!--<table height=50 style=border-color:#d0d0d0;border-left-style:solid;border-width:1px><tr><td valign=top> -->
            
            <div>
                <ul class="nav navbar-nav">
                    <li ><a href="/">首页</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            部署<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">TOMCAT WAR包 上线</a></li>
                            <li><a href="#">TOMCAT 非WAR包 上线</a></li>
                            <li class="divider"></li>
                            <li><a href="#">审批</a></li>
                            <li class="divider"></li>
                            <li><a href="#">统计</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            运维<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/aom/installsoftlist">安装软件</a></li>
                        </ul>
                    </li>
                    
                    
                </ul>

                <ul class="nav navbar-top-links navbar-right" > 
                    <li><a href="/admin/logout/?next=/aom/test"><span class="glyphicon glyphicon-log-in"></span>&nbsp;退出</a></li>
                </ul>
                <ul class="nav navbar-top-links navbar-right" >
                    <li><a href="/admin"><span class="glyphicon glyphicon-pencil" ></span>&nbsp;欢迎&nbsp;{{ userid }}&nbsp;</a></li>
                </ul>
            </div>
            <!--</table> -->
        </div>    
    </nav>
{% block content %}
{% endblock %}
    <div id="footer" class="container">
        <nav class="navbar navbar-default navbar-fixed-bottom ">
            <div class="navbar-inner navbar-content-center">
                <p class="text-muted credit" style="padding: 10px;" align="center">
                    团结●紧张●严肃●活泼
                </p>
            </div>
        </nav>
    </div>
</body>    
<html>
