<!DOCTYPE html>
<html lang="zh-Hans" >
<head>
    <meta charset="utf-8">   
    <link href="/static/css/bootstrap.css" rel="stylesheet">   
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default " >
        <div class="container" >
            <div class="navbar-header">
                <a class="navbar-brand" href="#">AOM</a>
            </div>
            <!--<table height=50 style=border-color:#d0d0d0;border-left-style:solid;border-width:1px><tr><td valign=top> -->
            
            <div>
                <ul class="nav navbar-nav">
                    <li ><a href="#">首页</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            部署<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">TOMCAT WAR包</a></li>
                            <li><a href="#">TOMCAT 非WAR包</a></li>
                            <li class="divider"></li>
                            <li><a href="#">未知</a></li>
                            <li class="divider"></li>
                            <li><a href="#">未知</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--</table> -->
            
        </div>    
    </nav>