{%extends "aom/base.html"%}
{% block content %}
<script type="text/javascript" src="/static/js/jdk.js"></script>
<div class="container " >
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">安装JDK</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" action="#" method="post" name="frm" > 
                    {% csrf_token %}
                       <div class="form-group">
                           <label class="col-sm-2 control-label" type="text">软件版本：</label>
                            <div class="col-sm-5">
                                <select id="softversion" name="softversion" class="selectpicker show-tick form-control" data-live-search="false">
                                    {% for i in softinfo %}
                                    <option value="{{i.0}}">{{i.2}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="remotepath" class="col-sm-2 control-label">安装目录：</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="remotepath" name="remotepath" readonly="readonly" value="/home/deployuser/adcc/software/jdk1">                      
                            </div>
                            <div class="col-sm-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="custom" name="custom" onclick="check2input($(this),$('#remotepath'))">自定义
                                    </label>
                                </div>
                            </div>                       
                        </div>
                        
                        <div class="form-group">
                            <label for="node"  class="col-sm-2 control-label" type="text">目标主机：</label>
                            <div class="col-sm-3">
                                <select id="node" name="node" class="selectpicker show-tick form-control" multiple data-live-search="true" button ondblclick="javascript:select2select(this,document.frm.nodeselect)">
                                    {% for i in nodes%}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endfor%}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select id="nodeselect" name="nodeselect" class="selectpicker show-tick form-control" multiple data-live-search="true" button ondblclick="javascript:select2select(this,document.frm.node)">
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-1 control-label" type="text"></label>
                            <div class="col-sm-offset-1 col-sm-1">
                                <button class="btn btn-default" type="button" onclick="commit()">提交</button>    
                            </div>
                        </div>
                    </form>                     
                </div>                              
            </div>
        </div>    
    </div>
</div>
{% endblock %}