{%extends "aom/base.html"%}
{% block content %}

<div class="container " >
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">安装tomcat</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" action="/aom/tomcatcommit/" method="post" name="frm" onsubmit="return check()">
                    {% csrf_token %}
                        <div class="form-group">
                           <label class="col-sm-2 control-label" type="text">软件版本：</label>
                            <div class="col-sm-5">
                                <select id="softversion" name="softversion" class="selectpicker show-tick form-control" data-live-search="false">
                                    {% for i in softinfo %}
                                    <option value="{{i.0}}">{{i.2}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="remotepath" class="col-sm-2 control-label">安装目录：</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="remotepath" name="remotepath">                 
                            </div>
                            <div class="col-sm-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="custom" name="custom" >自定义
                                    </label>
                                </div>
                            </div>  
                        </div>
                        <div class="form-group">
                            <label for="httpport" class="col-sm-2 control-label">http端口：</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" id="httpport" name="httpport" value="80">
                                
                            </div>
                            <div class="col-sm-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="httpportcheck" name="httpportcheck" >自定义
                                    </label>
                                </div>
                            </div>  
                        </div>  
                        <div class="form-group">
                            <label for="shutdownport" class="col-sm-2 control-label">shutdown端口：</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" id="shutdownport" name="shutdownport" value="8005">                      
                            </div>
                            <div class="col-sm-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="shutdownportcheck" name="shutdownportcheck" >自定义
                                    </label>
                                </div>
                            </div>  
                        </div>  
                        <div class="form-group">
                            <label for="ajpport" class="col-sm-2 control-label">AJP端口：</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" id="ajpport" name="ajpport" value="8009">                      
                            </div>
                            <div class="col-sm-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="ajpportcheck" name="ajpportcheck" >自定义
                                    </label>
                                </div>
                            </div>  
                        </div>
                        <div class="form-group">
                            <label for="basedir" class="col-sm-2 control-label">Base目录：</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="basedir" name="basedir" value="/home/deployuser/adcc/software/tomcat">                      
                            </div>
                            <div class="col-sm-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="basedircheck" name="basedircheck" >自定义
                                    </label>
                                </div>
                            </div>  
                        </div>
                        <div class="form-group">
                            <label for="docbase" class="col-sm-2 control-label">DocBase目录：</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="docbase" name="docbase" value="/home/deployuser/adcc/app/war">                      
                            </div>
                            <div class="col-sm-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="docbasecheck" name="docbasecheck" >自定义
                                    </label>
                                </div>
                            </div>  
                        </div>
                        <div class="form-group">
                            <label for="appbase" class="col-sm-2 control-label">appBase目录：</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="appbase" name="appbase" value="/home/deployuser/adcc/software/tomcat/webapps">                      
                            </div>
                            <div class="col-sm-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="appbasecheck" name="appbasecheck" >自定义
                                    </label>
                                </div>
                            </div>  
                        </div>
                        
                        <div class="form-group">
                            <label for="javahome" class="col-sm-2 control-label">JAVAHOME目录：</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="javahome" name="javahome" value="/home/deployuser/adcc/software/jdk">                      
                            </div>
                            <div class="col-sm-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="javahomecheck" name="javahomecheck" >自定义
                                    </label>
                                </div>
                            </div>  
                        </div>
                        <div class="form-group">
                            <label for="javaopt" class="col-sm-2 control-label">JAVAOPT参数：</label>
                            <div class="col-sm-7">
                                <textarea class="form-control" id="javaopt" rows="6" name="javaopt" value="">-Xms1024m -Xmx1024m -Xss512k -XX:SurvivorRatio=1 -XX:PermSize=128m -XX:MaxPermSize=128m -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/home/deployuser/adcc/software/tomcat/logs/ -XX:+DisableExplicitGC -XX:+UseParallelGC -XX:+UseParallelOldGC -verbose:gc -XX:+PrintGCDetails -XX:+PrintGCTimeStamps -Xloggc:/home/deployuser/adcc/software/tomcat/logs/gc$(date +"%y.%m.%d%H%M%S").log -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false</textarea>                  
                            </div>
                            <div class="col-sm-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="javaoptcheck" name="javaoptcheck" >自定义
                                    </label>
                                </div>
                            </div>  
                        </div>
                        <div class="form-group">
                            <label for="node"  class="col-sm-2 control-label" type="text">目标主机：</label>
                            <div class="col-sm-3">
                                <select id="node" name="node" class="selectpicker show-tick form-control" multiple data-live-search="true" button ondblclick="javascript:select2select(this,document.frm.nodeselect)">
                                    {% for i in nodes%}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endfor%}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select id="nodeselect" name="nodeselect" class="selectpicker show-tick form-control" multiple data-live-search="true" button ondblclick="javascript:select2select(this,document.frm.node)">
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-1 control-label" type="text"></label>
                            <div class="col-sm-offset-1 col-sm-1">
                                <button type="submit" class="btn btn-default">提交</button>
                            </div>
                        </div>
                    </form>                        
                </div>                              
            </div>
        </div>    
    </div>
</div>
<script>
//初始化默认路径只读，获取默认路径
//目录只读
$("#remotepath").attr("readOnly",true);
customfun($("#remotepath"),$("#custom"))
$("#httpport").attr("readOnly",true);
customfun($("#httpport"),$("#httpportcheck"))

$("#shutdownport").attr("readOnly",true);
customfun($("#shutdownport"),$("#shutdownportcheck"))
$("#ajpport").attr("readOnly",true);
customfun($("#ajpport"),$("#ajpportcheck"))
$("#basedir").attr("readOnly",true);
customfun($("#basedir"),$("#basedircheck"))
$("#docbase").attr("readOnly",true);
customfun($("#docbase"),$("#docbasecheck"))
$("#appbase").attr("readOnly",true);
customfun($("#appbase"),$("#appbasecheck"))
$("#javahome").attr("readOnly",true);
customfun($("#javahome"),$("#javahomecheck"))
$("#javaopt").attr("readOnly",true);
customfun($("#javaopt"),$("#javaoptcheck"))


//获取默认目录
getdefautlpath();

//select to select 
function select2select(x,y){
    if (x.value != ''){
        y.options[y.options.length]=new Option(x.value,x.text);
    x.options[x.selectedIndex]=null;}
}
//获取默认路径
function getdefautlpath(){
        $.post("/aom/postData/",{'page':'installjdkadd',
                                 'type':'defautlpath',        
                                 'softversion':$("#softversion").val()},function(result){
             //alert(b);
             $("#remotepath").prop("value",result.result.defaultpath);
        });
    }

//表单校验
function check(){
    var select=document.getElementById("nodeselect")
    if (select.length==0){
        alert('未选中任何节点')
        return false;
    }
    for (var i=0;i<select.length;i++)
    {
      select[i].selected=true; 
      }
   return true;
}    

//是否自定义路径
function customfun($i,$c){
    $(document).ready(function(){
        $c.click(function(){
            if($c.prop("checked")){
                $i.prop("readOnly",false);               
                }    
            else{
                $i.prop("readOnly",true);  
                //getdefautlpath();
                }            
        });
    })
}
 //选择版本变化默认路径    
$(document).ready(function(){
    $('#softversion').click(function(){
        getdefautlpath();
        });
})

</script>  
{% endblock %}