{%extends "aom/base.html"%}
{% block content %}

<div class="container " >
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">任务信息</h3>
                </div>
                <div class="panel-body">                                
                    <table class="table table-hover">
                        <thead>
                            <tr>
                            {% for i in taskinfohead %}
                            <th>{{i}}</th>
                            {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in taskinfo %}
                            <tr>
                                {% for j in i %}
                                   <td>{{j}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>             
                    </table>         
                </div>                              
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">任务消息</h3>
                </div>
                <div class="panel-body">                                
                 <table class="table table-hover">
                    <thead>
                            <tr>
                            {% for i in objects_head %}
                            <th>{{i}}</th>
                            {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in objects %}
                            <tr>
                                {% for j in i %}
                                   <td>{{j|safe}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>             
                    </table>   
                                
                    <ul class="pagination">
                        {% if objects.has_previous %}
                        <li><a href="?page={{ objects.previous_page_number }}">前一页</a></li>
                        {% else %}
                        <li class="active"><a>前一页</a></li>
                        {% endif %}
                    
                        {% for p in page_range %}
                            {% ifequal p objects.number %}
                            <li class="active"><a>{{p}}</a></li>
                            {% else %}
                            <li><a href="?page={{p}}" title="第{{p}}页">{{p}}</a><li>
                            {% endifequal %}
                        {% endfor %}
                    
                        {% if objects.has_next %}
                        <li><a href="?page={{ objects.next_page_number }}">后一页</a></li>
                        {% else %}
                        <li class="active"> <a>后一页</a></li>
                        {% endif %}
                    </ul>
                </div>                              
            </div>
        </div>    
    </div>
</div>
{% endblock %}