{%extends "aom/base.html"%}
{% block content %}

<div class="container " >
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-10">
                            <h3 class="panel-title">安装软件列表</h3>
                        </div>
                        <div class="col-md-2">  
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  安装软件
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="../installsoftwareadd">安装JDK</a></li>
                                    <li><a href="../installsoftwareadd">安装tomcat</a></li>
                                    <li><a href="../installsoftwareadd">安装nginx</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                            {% for i in objects_head %}
                            <th>{{i}}</th>
                            {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in objects %}
                            <tr>
                                {% for j in i %}
                                 {%if forloop.first%}
                                <td><a href="/aom/installsoftwareinfo/?taskid={{j}}">{{j}}</a></td>
                                   {%else%}
                                   <td>{{j}}</td>
                                   {% endif%} 
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>             
                    </table>   
                                
                    <ul class="pagination">
                        {% if objects.has_previous %}
                        <li><a href="?page={{ objects.previous_page_number }}">前一页</a></li>
                        {% else %}
                        <li class="active"><a>前一页</a></li>
                        {% endif %}
                    
                        {% for p in page_range %}
                            {% ifequal p objects.number %}
                            <li class="active"><a>{{p}}</a></li>
                            {% else %}
                            <li><a href="?page={{p}}" title="第{{p}}页">{{p}}</a><li>
                            {% endifequal %}
                        {% endfor %}
                    
                        {% if objects.has_next %}
                        <li><a href="?page={{ objects.next_page_number }}">后一页</a></li>
                        {% else %}
                        <li class="active"> <a>后一页</a></li>
                        {% endif %}
                    </ul>
                </div>                              
            </div>
        </div>    
    </div>
</div>
  
{% endblock %}