{% include 'aom/head.html' %}  

<div class="container " >
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        面板标题
                    </h3>
                </div>
                <div class="panel-body">
                    <h6>这是一个基本的面板今天是个好日子</h6>
                    <h6>这是一个基本的面板</h6>
                    <h6>这是一个基本的面板</h6>
                    <h6>这是一个基本的面板</h6>
                    <h6>这是一个基本的面板</h6>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        面板标题
                    </h3>
                </div>
                <div class="panel-body">
                    <h6>这是一个基本的面板</h6>
                    <h6>这是一个基本的面板</h6>
                    <h6>这是一个基本的面板</h6>
                    <h6>这是一个基本的面板</h6>
                    <h6>这是一个基本的面板</h6>
                </div>
            </div>
        </div>
 
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        表格示例
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                            {% for i in objects_head %}
                            <th>{{i}}</th>
                            {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in objects %}
                            <tr>
                                {% for j in i %}
                                <td>{{j}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>             
                    </table>   
                                
                    <ul class="pagination">
                        {% if objects.has_previous %}
                        <li><a href="?page={{ objects.previous_page_number }}">前一页</a></li>
                        {% else %}
                        <li class="active"><a>前一页</a></li>
                        {% endif %}
                    
                        {% for p in page_range %}
                            {% ifequal p objects.number %}
                            <li class="active"><a>{{p}}</a></li>
                            {% else %}
                            <li><a href="?page={{p}}" title="第{{p}}页">{{p}}</a><li>
                            {% endifequal %}
                        {% endfor %}
                    
                        {% if objects.has_next %}
                        <li><a href="?page={{ objects.next_page_number }}">后一页</a></li>
                        {% else %}
                        <li class="active"> <a>后一页</a></li>
                        {% endif %}
                    </ul>
                </div>    
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                    表单
                    </h3>
                </div>   
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="firstname" class="col-sm-1 control-label">名字</label>
                            <div class="col-sm-5">
                            <input type="text" class="form-control" id="firstname" placeholder="请输入名字">
                            <span class="help-block">一个较长的帮助文本块，超过一行，
  需要扩展到下一行。本实例中的帮助文本总共有两行。</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-1 control-label">姓</label>
                            <div class="col-sm-5">
                            <input type="text" class="form-control" id="lastname" placeholder="请输入姓">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                            <div class="checkbox">
                                <label>
                                <input type="checkbox">请记住我
                                </label>
                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                            <button type="submit" class="btn btn-default">保存</button>
                            </div>
                        </div>
                    </form>
                </div>                
            </div>
        </div>    
    </div>
</div>
  {{page_range}}  
{% include 'aom/footer.html' %}  